.burger {
	display: block;
	position: relative;
	z-index: 1000000;
	width: 30px;
	border: 0;
	cursor: pointer;
	height: 26px;
	background-color: transparent;
}

.burger::before,
.burger::after {
	content: '';
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: all 0.3s;
}

.burger span {
	background-color: #fff;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;
	transition: all 0.3s;
}

.burger:after {
	top: 0;
}

.burger::before {
	bottom: 7px;
}

.active::before {
	transform: rotate(45deg);
	top: 0;
	background-color: #fff;
}

.active::after {
	transform: rotate(-45deg);
	bottom: 0;
	background-color: #fff;
}

.active span {
	transform: scale(0);
}

@media (min-width: 992px) {
	.burger {
		display: none;
	}
}
