.card {
	background-color: #191f2d;
	border-radius: 10px;
	padding: 5.0625rem 2.5625rem 4.0625rem;
	position: relative;
	z-index: 1;
}

.content {
	max-width: 287px;
}

.end {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
}

.title {
	margin-bottom: 0.615384615em;
}

.img {
	position: absolute;
	bottom: 0;
	right: 2%;
	z-index: -1;
}

@media (min-width: 997px) {
	.card {
		min-height: 380px;
	}
}

@media (max-width: 996px) {
	.card {
		min-height: 270px;
	}

	.img {
		max-width: 120px;
		max-height: 140px;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 576px) {
	.content {
		max-width: 181px;
	}
}
