.logo,
.logo img {
	width: 16.375rem;
	height: 4.625rem;
}

@media (min-width: 997px) {
	.mobile {
		display: none;
	}
}

@media (max-width: 996px) {
	.logo,
	.logo img {
		width: 148px;
		height: 42px;
	}

	.logo {
		margin-bottom: 20px;
	}

	.desktop {
		display: none;
	}
}
