.advantages {
	margin-bottom: 6.25rem;
}

.title {
	margin-bottom: 0.9em;
}

.grid {
	display: grid;
	gap: 1.3125rem 0.875rem;
}

@media (min-width: 577px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));
	}
}
