.feedback {
	margin-bottom: 5.0625rem;
}

.card {
	background-color: #242424;
	padding: 6.5rem;
	position: relative;
	z-index: 1;
	border-radius: 10px;
}

.content {
	max-width: 659px;
}

.title {
	margin-bottom: 0.362em;
}

.text {
	margin-bottom: 1.6em;
}

.row {
	display: flex;
	gap: 0.75rem;
	margin-bottom: 3.625rem;
	flex-wrap: wrap;
}

.form {
	max-width: 571px;
}

.form_row {
	display: flex;
	gap: 0.8125rem;
	margin-bottom: 0.9375rem;
}

.textarea {
	margin-bottom: 1.6875rem;
	height: 158px;
}

.form_btn {
	max-width: 132px;
}

.img {
	color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	z-index: -1;
	padding-bottom: 42px;
}

@media (min-width: 997px) {
	.email {
		max-width: 200px;
	}

	.name {
		max-width: 244px;
	}
}

@media (max-width: 996px) {
	.name {
		justify-content: flex-start;
		max-width: 208px;
	}

	.email {
		justify-content: flex-start;

		max-width: 211px;
	}

	.name img,
	.email img {
		width: 14px;
		height: 11px;
	}

	.img {
		display: none;
	}

	.form_row {
		flex-wrap: wrap;
	}

	.form_btn {
		max-width: 100%;
	}
}

@media (max-width: 576px) {
	.card {
		padding: 5.5rem 1.6rem;
	}
}
