.list {
	list-style-type: none;
	padding: 0;
	display: flex;
	gap: 3.25rem;
}

.item a {
	transition: color 0.3s;
}

.item a:hover {
	color: var(--color-green);
}

.mBtn {
	max-width: 245px;
}

@media (min-width: 997px) {
	.mBtn,
	.mbIcon {
		display: none;
	}

	.item {
		white-space: nowrap;
	}
}

@media (max-width: 996px) {
	.menu {
		position: fixed;
		top: 0;
		right: 0;
		transform: translateY(-100%);
		left: 0;
		bottom: 0;
		background-color: rgba(000, 000, 000, 0.7);
		z-index: 100000;
		transition: all 0.3s;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.active {
		transform: translateY(0);
	}

	.list {
		flex-direction: column;
		margin-bottom: 50px;
		gap: 30px;
	}

	.item {
		max-width: 245px;
		font-size: 18px;
	}

	.item a {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	.mBtn {
		font-size: 12px;
	}
}
