.plan {
	margin-bottom: 8.125rem;
}

.title {
	margin-bottom: 1.5em;
}

.grid {
	display: grid;
	gap: 0.625rem;
}

@media (min-width: 577px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));
	}
}
