.main {
	position: relative;
	margin-bottom: 8.75rem;
}

.green {
	color: var(--color-green);
}

.content {
	max-width: 845px;
	margin-right: 49%;
}

.img {
	max-width: 639px;
	width: 100%;
	height: 470px;
	position: absolute;
	top: -22%;
	right: 12%;
	z-index: -1;
}

.title {
	margin-bottom: 0.5em;
}

.info {
	margin-bottom: 1.4em;
}

.bgMain1 {
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}

.bgMain2 {
	top: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.blurImage {
	max-width: 694px;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}

@media (max-width: 992px) {
	.content {
		max-width: 100%;
		margin-right: 0;
	}

	.img,
	.bgMain1,
	.bgMain2 {
		display: none;
	}
}
